.div{
    background-color: black;
}
.footer-container{
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;


}
.nav{
    display: flex;
    justify-content: center;
     background-color: blueviolet;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 50px;
    border: none;
}
.a{
color: white;
}

.ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.h1{
    text-align: center;
    text-decoration: underline;
}
.div-container{
    background-color: black;
    color: rgb(180, 176, 114);
    font-size: 18px;
    
}
.paragraph{
    margin-left: 8px;
    margin-right: 8px;
}

